.main-nav {
  padding-left: 30px;
  min-height: 62px;
}

.nav-logo-text h4 {
  margin: 0;
  color: #fff;
}

.nav-logo-text h4:hover {
  color: #8d9399;
}

@media (min-width: 576px) {
  .main-nav {
    padding-left: 40px;
    min-height: 62px;
  }
}
