.main-nav {
  padding: 0 30px;
  min-height: 62px;
}

.nav-logo-text h4 {
  margin: 0;
  color: #fff;
}

.main-nav p {
  color: #585c61;
  font-size: 12px;
}

.nav-logo-text h4:hover {
  color: #8d9399;
}

@media (min-width: 576px) {
  .main-nav {
    padding: 0 40px;
    min-height: 62px;
  }
}
